<!DOCTYPE html>
<html>
  <head>
    <title>LayoutSample</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% if content_for? :styles %>
      <%=  yield :styles %>
    <% else %>
      <%= stylesheet_link_tag 'application', media: 'all' %>
    <% end %>
  </head>

  <body>
  <% if content_for? :content %>
    <%= yield :content %>
  <% else %>
    <div style="border: 1px solid black;">
      <%= yield %>
    </div>
  <% end %>
  </body>

  <footer>
    <div style="background-color: lightpink">
      最終レイアウトのapplicationにフッターを書いたのでどのページでも表示される
    </div>
  </footer>
</html>
